<section>
  <ul id="gallery">
      <li>
          <a href="../assets/img/img.jpg">
              <img src="../assets/img/img.jpg" alt="">
              <p>Bello paisaje</p>
          </a>
      </li>
      <li>
          <a href="../assets/img/img1.png">
              <img src="../assets/img/img1.png" alt="">
              <p>Hermosa ave</p>
          </a>
      </li>
      <li>
          <a href="../assets/img/img2.jpg">
              <img src="../assets/img/img2.jpg" alt="">
              <p>Interesante textura</p>
          </a>
      </li>
      <li>
          <a href="../assets/img/img3.jpg">
              <img src="../assets/img/img3.jpg" alt="">
              <p>Divertido fondo de pantalla</p>
          </a>
      </li>
  </ul>
</section>