
    <header>
        <a roterLink="gallery" id="logo">
            <h1>Edith López Huerta</h1>
            <h2>Frontend developer</h2>
        </a>
        <nav>
            <ul>
                <li><a routerLink="gallery" class="selected">Portfolio</a></li>
                <li><a routerLink="about">About</a></li>
                <li><a routerLink="contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrapper">
  
        <footer>
            <a href="">Twitter</a>
            <p>&copy; 2018 Edith Angélica López Huerta</p>
        </footer>
    </div>

<router-outlet></router-outlet>