
    <header>
        <a roterLink="gallery" id="logo">
            <h1>Maricela Sanchez Miranda</h1>
            <h2>Backend developer</h2>
        </a>
        <nav>
            <ul>
                <li><a routerLink="gallery" class="selected">Portfolio</a></li>
                <li><a routerLink="bout">About</a></li>
                <li><a routerLink="contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrapper">
  
        <footer>
            <a href="https://twitter.com/mayela0x14">Twitter</a>
            <p>&copy; 2018 Maricela Sanchez Miranda.</p>
        </footer>
    </div>

<router-outlet></router-outlet>