
<body>
    <header>
        <a href="index.html" id="logo">
            <h1>Maricela Sanchez Miranda</h1>
            <h2>Backend developer</h2>
        </a>
        <nav>
            <ul>
                <li><a href="index.html" class="selected">Portfolio</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrapper">
     <app-gallery></app-gallery>
     <app-about></app-about>
     <app-contact></app-contact>
        <footer>
            <a href="https://twitter.com/mayela0x14">Twitter</a>
            <p>&copy; 2018 Maricela Sanchez Miranda.</p>
        </footer>
    </div>
</body>
